<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdzsj.mgr.dao.marketing.TagModelDao" >
  <resultMap id="BaseResultMap" type="com.wdzsj.mgr.entity.marketing.TagModel" >
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="clifestage" property="clifestage" jdbcType="VARCHAR" />
    <result column="prewarning" property="prewarning" jdbcType="VARCHAR" />
    <result column="RFVcluster_3m" property="rfvcluster3m" jdbcType="VARCHAR" />
    <result column="RFVcluster_6m" property="rfvcluster6m" jdbcType="VARCHAR" />
    <result column="RFVcluster_12m" property="rfvcluster12m" jdbcType="VARCHAR" />
    <result column="sen_discount" property="senDiscount" jdbcType="VARCHAR" />
  </resultMap>

  <!--基本元素-->
  <sql id="Base_Column_List" >
    cid, clifestage, prewarning, RFVcluster_3m, RFVcluster_6m, RFVcluster_12m, sen_discount
  </sql>

  <!--根据主键查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_wfj_tag_model
    where cid = #{cid,jdbcType=VARCHAR}
  </select>

  <!--全部插入-->
  <insert id="insert" parameterType="com.wdzsj.mgr.entity.marketing.TagModel" >
    insert into t_wfj_tag_model (cid, clifestage, prewarning, 
      RFVcluster_3m, RFVcluster_6m, RFVcluster_12m, 
      sen_discount)
    values (#{cid,jdbcType=VARCHAR}, #{clifestage,jdbcType=VARCHAR}, #{prewarning,jdbcType=VARCHAR}, 
      #{rfvcluster3m,jdbcType=VARCHAR}, #{rfvcluster6m,jdbcType=VARCHAR}, #{rfvcluster12m,jdbcType=VARCHAR}, 
      #{senDiscount,jdbcType=VARCHAR})
  </insert>

  <!--动态插入-->
  <insert id="insertSelective" parameterType="com.wdzsj.mgr.entity.marketing.TagModel" >
    insert into t_wfj_tag_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="clifestage != null" >
        clifestage,
      </if>
      <if test="prewarning != null" >
        prewarning,
      </if>
      <if test="rfvcluster3m != null" >
        RFVcluster_3m,
      </if>
      <if test="rfvcluster6m != null" >
        RFVcluster_6m,
      </if>
      <if test="rfvcluster12m != null" >
        RFVcluster_12m,
      </if>
      <if test="senDiscount != null" >
        sen_discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="clifestage != null" >
        #{clifestage,jdbcType=VARCHAR},
      </if>
      <if test="prewarning != null" >
        #{prewarning,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster3m != null" >
        #{rfvcluster3m,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster6m != null" >
        #{rfvcluster6m,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster12m != null" >
        #{rfvcluster12m,jdbcType=VARCHAR},
      </if>
      <if test="senDiscount != null" >
        #{senDiscount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--统计查询-->
  <select id="countByMap" resultType="java.lang.Integer" >
    select count(*) from t_wfj_tag_model
  </select>

  <!--根据主键动态更新-->
  <update id="updateByPrimaryKeySelective"  parameterType="com.wdzsj.mgr.entity.marketing.TagModel" >
    update t_wfj_tag_model
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="clifestage != null" >
        clifestage = #{clifestage,jdbcType=VARCHAR},
      </if>
      <if test="prewarning != null" >
        prewarning = #{prewarning,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster3m != null" >
        RFVcluster_3m = #{rfvcluster3m,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster6m != null" >
        RFVcluster_6m = #{rfvcluster6m,jdbcType=VARCHAR},
      </if>
      <if test="rfvcluster12m != null" >
        RFVcluster_12m = #{rfvcluster12m,jdbcType=VARCHAR},
      </if>
      <if test="senDiscount != null" >
        sen_discount = #{senDiscount,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
</mapper>